.food-info {
  top: 290px;
  position: absolute;
  left: 550px;
  max-width: 270px;
  display:none;
  animation: fadeIn 2s;
  animation-fill-mode: forwards;
  -webkit-animation: fadeIn 2s;
  -webkit-animation-fill-mode: forwards;

  h2 {
    margin-bottom: 10px;
  }

  p {
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1000px) {
   .food-container {
      display:flex; 
   }
   .food-info{
     max-width: 100%;
     margin-top:20px;
     position: static;
     left: 0;
   }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}