.food-sidebar {
  opacity: .5;
  background-color: white;
  min-height: 100vh; // will likely change 
  width: 25%;
}

@media only screen and (max-width: 1000px) {
   .food-sidebar {
      width: 100%;
   }
}