a {
  font-family: 'Montserrat';
  font-size: 20;
}

.food-container{
  margin-top: 300px;
  margin-bottom: 10px;
  left: 40px;
  color: $kombuGreen;
}

.food-info {
  position: absolute;
  left: 550px;
  max-width: 270px;
  display:none;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -webkit-animation-fill-mode: forwards;
}

.food-info > h2 {
  margin-bottom: 0;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@media only screen and (max-width: 1000px) {
   .food-container {
      display:flex;
      margin-top:0;
      width: 100%;
      margin-left:0;
   }
   .food-info{
     width: 100%;
     position: static;
     left: 0;
   }
}