h1 {
  margin: 0px;
  margin-left: 15px;
  font-size: 40px;
  color: $kombuGreen;
  font-family: 'Swear Display';
  font-style: italic;
  text-align:left;
}

header {
  margin-left: 60px;
  animation: fadeIn 2s ease-in 0s normal forwards;
  -webkit-animation: fadeIn 2s ease-in 0s normal forwards;
}


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


