.map-container {
  height: 100%;
  min-width: 525px;
  font-size: 18px;
  flex-shrink: 1;
}

.map {
  stroke-dasharray: 2300;
  stroke-dashoffset: -2300;
  stroke-linecap: round;
  animation: dash 10s ease-in-out forwards;
  stroke: url(#MyGradient);
  fill:none;
  stroke-width:4;
  stroke-miterlimit:10;
}

.season{
  fill:$kombuGreen;
}

.park:hover{ 
  filter: drop-shadow(3px 0 4px $kombuGreen);
  overflow:hidden;
}

.underline {
  display:none;
}

#SP{
  -webkit-animation: 3.75s ease 0s normal forwards 1 fadein;
  animation: 3.75s ease 0s normal forwards 1 fadein;
  fill:$greyGreen;
}

#RP{
  -webkit-animation: 5s ease 0s normal forwards 1 fadein;
  animation: 5s ease 0s normal forwards 1 fadein;
  fill:$springGreen;
}

#GG{
  -webkit-animation: 11s ease 0s normal forwards 1 fadein;
  animation: 11s ease 0s normal forwards 1 fadein;
  fill:$beige;
}

#springUnderline{
  fill:$springGreen;
  opacity: 0;
  -webkit-animation: 1s ease 0s normal forwards 1 underlineFadeIn;
  animation: 1s ease 0s normal forwards 1 underlineFadeIn;
}

#summerUnderline {
  fill:$greyGreen;
  opacity: 0;
  -webkit-animation: 1s ease 0s normal forwards 1 underlineFadeIn;
  animation: 1s ease 0s normal forwards 1 underlineFadeIn;
}

#fallUnderline {
  fill:$peach;
  opacity: 0;
  -webkit-animation: 1s ease 0s normal forwards 1 underlineFadeIn;
  animation: 1s ease 0s normal forwards 1 underlineFadeIn;
}

#winterUnderline{
  fill:$beige;
  opacity: 0;
  -webkit-animation: 1s ease 0s normal forwards 1 underlineFadeIn;
  animation: 1s ease 0s normal forwards 1 underlineFadeIn;
}

#spring {
  -webkit-animation: 4s ease 0s normal forwards 1 fadein;
  animation: 4s ease 0s normal forwards 1 fadein;
}

#summer{
  -webkit-animation: 4.5s ease 0s normal forwards 1 fadein;
  animation: 4.5s ease 0s normal forwards 1 fadein;
}

#autumn {
  -webkit-animation: 5s ease 0s normal forwards 1 fadein;
  animation: 5s ease 0s normal forwards 1 fadein;
}

#winter {
  -webkit-animation: 6s ease 0s normal forwards 1 fadein;
  animation: 6s ease 0s normal forwards 1 fadein;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@media only screen and (max-width: 1000px) {
   .map-container {
      max-width: 500px;
      order:-1;
   }
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity: 0;; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@keyframes underlineFadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes underlineFadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}