.park-sidebar {
  opacity: .5;
  background-color: white;
  height: 100vh; // will likely change
  width: 25%;
}

@media only screen and (max-width: 1000px) {
   .park-sidebar {
      width: 100%;
   }
}