@font-face {
  font-family: 'Swear Display';
  font-style: normal;
  font-weight: normal;
  src:
    url('./assets/fonts/SwearDisplayDemo-Regular copy.otf') format("opentype"),
}

@font-face {
  font-family: 'Swear Display';
  font-style: italic;
  font-weight: normal;
  src:
    url('./assets/fonts/SwearDeckDemo-MediumCilati.otf') format("opentype"),
}



